	<section id="fh5co-work" data-section="sponsorship">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">{{ with .Site.Params.sponsorship.title }}{{ . }}{{ end }}</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>{{ with .Site.Params.sponsorship.description }}{{ . | markdownify }}{{ end }} Please see our <a href="sfusat-sponsorship.pdf">sponsorship package</a>. </h3>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">{{ with .Site.Params.sponsorship.title2 }}{{ . }}{{ end }}</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<img src="img/solidworks-logo.png" alt="SolidWorks" style="width:250px;">
						</div>										
					</div>
					<div class="row"><br></div>					
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<img src="img/sfss-logo.png" alt="SFSS" style="width:250px;">
						</div>	
					</div>	
					<div class="row"><br></div>					
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<img src="img/mobify-logo.png" alt="Mobify" style="width:250px;">
						</div>	
					</div>	
					<div class="row"><br></div>					
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<img src="img/telus-logo.png" alt="Telus" style="width:250px;">
						</div>	
					</div>															

					<div class="row"><br></div>					
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<img src="img/apegbc-logo.png" alt="APEGBC" style="width:250px;">
						</div>	
					</div>	
				</div>
			</div>


		</div>
	</section>
