	<section id="fh5co-work" data-section="work">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">{{ with .Site.Params.sponsorship.title }}{{ . }}{{ end }}</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>{{ with .Site.Params.sponsorship.description }}{{ . | markdownify }}{{ end }}. Download the sponsorship package <a href=''>here</a>. </h3>
						</div>
					</div>
				</div>
			</div>


		</div>
	</section>
