<header id="header">
	<div class="container">
		<nav id="nav">
			{{/* partial "nav.html" . */}}
			<div class="nav-header">
				<a class="nav-brand" href="/">SFU Satellite Design Team</a>
			</div>
			<div class="nav-bar">
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/mission">Mission</a>
					</li>
					<li>
						<a href="/projects">Projects</a>
					</li>
					<li>
						<a href="/subsytems">Subsytems</a>
					</li>
					<li>
						<a href="/sponsors">Sponsors</a>
					</li>
					<li>
						<a href="/contact">Contact</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</header>
