<header id="header">
	<div class="container">
		<nav id="nav">
			{{/* partial "nav.html" . */}}
			<div class="nav-header">
				<a class="nav-brand" href="{{ "/" | relURL }}">SFU Satellite Design Team</a>
			</div>
			<div class="nav-bar">
				<ul>
					<li>
						<a href="{{ "/" | relURL }}">Home</a>
					</li>
					<li>
						<a href="{{ "/mission" | relURL }}">Mission</a>
					</li>
					<li>
						<a href="{{ "/projects" | relURL }}">Projects</a>
					</li>
					<li>
						<a href="{{ "/subsystems" | relURL }}">Subsytems</a>
					</li>
					<li>
						<a href="{{ "/sponsors" | relURL }}">Sponsors</a>
					</li>
					<li>
						<a href="{{ "/contact" | relURL }}">Contact</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</header>
