{{ partial "header.html" . }}
{{ partial "subheader.html" . }}

<div id="main">
	<section id="section-one">
		<div class="gradient"></div>
		<div class="container">
			<h1 class="text-center">Let’s build a satellite.</h1>
			<img src="{{ "/logos/logo-white.png" | relURL }}" style="width:150px">
			<h6>SFU Satellite Design Team</h6>
		</div>
	</section>
	<section id="section-two">
		<div class="gradient"></div>
		<div class="container">
			<h1 class="text-center">Our Mission</h1>
			<h4>SFU Satellite Design Team is a club run by space enthusiasts
				from the Simon Fraser University. We aim to inspire future
				generations of space explorers, engineers, and business leaders
				through innovation and teamwork.
				<br>
				<br>
				We are building a satellite to help CHIME radio telescope in
				investigating the expansion of the universe and the influence
				of dark energy. <a href="{{ "/mission" | relURL }}">Learn more about our payload.</a>
			</h4>
		</div>
	</section>
	<section id="section-three">
		<div class="gradient"></div>
		<div class="container">
			<h1 class="text-center">Projects</h1>
			<h4>Our main focus is on designing and building a 3U cubesat, but
				we also build and launch weather balloons, train future
				astronauts, do outreach and much more.
			</h4>
		</div>
	</section>
</div>

	
{{ partial "footer.html" . }}
